body {
    font-size:0;
}
div > h2 {
    font-size: 40px;
    display: inline-block;
    position: relative;
    left: 410px;
}
#back-board{
    display:inline-block;
    position:relative;
    top:20px;
    left:200px;
}
#back-board > div {
    height: 80px;

}
#back-board > div > div {
    background-color:green;
    border:1px solid black;
    display:inline-block;
    height: 80px;
    width: 80px;
}