body {
    font-size:0;
    width: 1200px;
    margin: 0 auto;
}
div > h2 {
    font-size: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
}
#back-board{
    display:inline-block;
    position:relative;
    left:200px;
}
#back-board > div {
    height: 80px;
}
#back-board > div > div {
    background-color:green;
    border:1px solid black;
    display:inline-block;
    height: 80px;
    width: 80px;
}
.game-contents{
    margin-left: 109px;
}
.game-title{
    text-align: center;
    font-size: 60px;
    margin: 40px 0;
    font-weight: bolder;
}
#stats_container{
    border: 1px solid black;
    margin-top: 168px;
    width: 165px;
    height: 300px;
    position: fixed;
    border-radius: 10px;
}
.player-info{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}
.player-images{
    width: 150px;
    height: auto;
}
.reset-button{
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
}
.white-disc{
    background-image: url(images/white-disc.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.black-disc{
    background-image: url(images/black-disc.gif);
    background-size: contain;
    background-repeat: no-repeat;
}